__pycache__/
.cache
.coverage
.coverage.*
.dmypy.json
.installed.cfg
.mypy_cache/
.nox/
.pyre/
.pytest_cache
.Python
.pytype/
.tox/
*,cover
*.db
*.db-*
*.egg
*.egg-info/
*.pem
*.py[cod]
*.so
*$py.class
build/
coverage.xml
devekdist/
dmypy.json
env/
htmlcov/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
venv/
wheels/
dist/
